@model SignLanguage.EF.Paging.PagingResult<SignLanguage.EF.GoodMeaningWords>
@using SignLanguage.Website.HtmlHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var urlTemplate = Url.Action() + "?page={0}";
    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys)
    {
        if (key == "page")
        {
            continue;
        }

        urlTemplate += "&" + key + "=" + request.Query[key];
    }

    var startIndex = Math.Max(Model.CurrentPage - 5, 1);
    var finishIndex = Math.Min(Model.CurrentPage + 5, Model.PageCount);
}

<style>

    .isDisabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }

    .center {
        text-align: center;
    }

    .pagination {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        padding: 10px;
        background-color: #fff;
        border-radius: 40px;
    }

        .pagination li {
            display: inline-block;
            list-style: none
        }

        .pagination a {
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: #fff;
            text-align: center;
            text-decoration: none;
            color: #252525;
            border-radius: 4px;
            margin: 5px;
            box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
            transition: all .3s ease
        }
</style>

<div class="row">

    @for (int i = 0; i < Model.Results.Count; i++)
    {
        <div class="col-lg-6" style="margin-top: 5px;">
            <button id="@i" class="form-control" style=" background-color: #FFA500;"><p>@Model.Results[i].Meaning</p></button>

            <div class="views-row views-row-@i views-row-odd" style="display: none">
                @Html.DisplayImageOrVideoFor(Model.Results[i].Url, i)
            </div>
        </div>
    }
</div>



<br />
<br />
<br />

<div class="row">
    <div class="col-md-8 col-sm-8">
        @if (Model.PageCount > 1)
        {
            <ul class="pagination pull-right">
                <li><a href="@urlTemplate.Replace("{0}", "1")">&laquo;</a></li>
                @for (var i = startIndex; i <= finishIndex; i++)
                {
                    @if (i == Model.CurrentPage)
                    {
                        <li><a class="isDisabled" href="@urlTemplate.Replace("{0}", i.ToString())">@i</a></li>
                    }
                    else
                    {

                        <li><a href="@urlTemplate.Replace("{0}", i.ToString())">@i</a></li>
                    }
                }
                <li><a href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())">&raquo;</a></li>
            </ul>}
    </div>
</div>


